@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hexi</title>
    </head>
    <body>

        <script src="scripts/lib/hexi.js?rnd=rnd"></script>

        <!-- setup() is used in init.js -->
        <script src="scripts/initFunc/setup.js?rnd=rnd"></script>


        <script src="scripts/init.js?rnd=rnd"></script>
        <script src="scripts/main.js?rnd=rnd"></script>
        <script src="scripts/gameLoop.js?rnd=rnd"></script>


        <script src="scripts/oldCode.js?rnd=rnd"></script>

    </body>
    
</html>
